*~
*.o
*.pyc
*.d
.DS_Store*
*.swp

obj/
lib/
bin/
build/
build-dep-src/
build-dep-install/
build-dep-install.tar.bz2
libtensorflow_cc-*
python/nexus/proto/
python/nexus.egg-info/

cmake-build*/
.clion.source.upload.marker
.clangd/
compile_commands.json
.vscode/
